@import '../../styles/index.scss';

.notFound{
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
  @media screen and (max-width: $desktop_width) {
    width: 90%;
  }
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: map-get(map-get($themes, "light"), "base9");
  width: 33.33%;
  height: 40rem;
  font-size: 17rem;
  text-shadow: -3px -3px 2px  #65886d40;
  background-color: map-get(map-get($themes, "light"), "base0");
  transition: 0.3s ease-in-out;
  &:hover{
    background-color: map-get(map-get($themes, "light"), "base8");
    color: map-get(map-get($themes, "light"), "base0");
    
  }
  @media screen and (max-width: $desktop_width) {
    height: 26rem;
    font-size: 7rem;
  }
}

.logo{
  width: 100%;
  @media screen and (max-width: $desktop_width) {
    width: 60%;
  }
}

.message{
  position: absolute;
  top: 80%;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  @media screen and (max-width: $desktop_width) {
    width: 90%;
  }
  
}

.ribbon {
  width: 104%;
  position: absolute;
  left: -2%;
  text-align: center;
  font-size: 20px !important;
  background-color: map-get(map-get($themes, "light"), "base2");
  box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
  @media screen and (max-width: $desktop_width) {
    display: none;
  }
}

.ribbon p {
  font-size: 25px !important;
  color: map-get(map-get($themes, "light"), "base3");
  text-shadow: map-get(map-get($themes, "light"), "base5") 0 1px 0;
  margin:0px;
  padding: 15px 10px;
}

.ribbon:before, .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid map-get(map-get($themes, "light"), "base2");
  z-index: -1;
}

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
}

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  border-color: #8d2133;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: '';
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
