$themes: (
  "dark": (
    base0: #fff,
    base1: #141c2f,
    base2: #1f2a48,
    base3: #c5c5c5,
  ),
  "light": (
    base0: #fff,
    base1: #6D9850,
    base2: #C33149,
    base3: #F3D9B1,
    base4: #fafafa,
    base5: #353535,
    base6: #f0f0f0,
    base7: #999,
    base8: #92b17e,
    base9: #49B84A,
  ),
);
